<div class="auth-external-provider mt-3">
    <p>Or login with</p>
    <form asp-controller="Account" asp-action="ExternalLogin" asp-route-returnurl="@ViewData["ReturnUrl"]" method="post">
        <button name="provider" value="Google" class="btn btn-google mt-2" type="submit">
            <img src="~/assets/images/google256.png" alt="Google" class="image-google">
        </button>
    </form>
</div>