<header>
    <section class="header-left">
        <button id="burger-menu-toggle" class="btn btn-icon">
            <span class="material-symbols-outlined md-32 white">
                menu
            </span>
        </button>
        <a asp-controller="Home" asp-action="Main" asp-route-daysViewName="@DaysViewName.Today" class="btn btn-icon">
            <span class="material-symbols-outlined md-32 white">
                home
            </span>
        </a>
        <form method="get" asp-controller="Home" asp-action="Main" class="search-form">
            <span class="material-symbols-outlined md-32 white search-icon">
                search
            </span>
            <input type="search" name="search" value="@ViewData["Search"]" />
        </form>
    </section>
    <section class="header-right">
        <div class="dropdown">
            <span class="material-symbols-outlined md-32 white btn js-dropdown-btn" data-dropdown-content-id="profile-dropdown-content">
                account_circle
            </span>
            <div class="dropdown-content js-dropdown-content" id="profile-dropdown-content">
                <a href="#Account">
                    <span class="material-symbols-outlined md-20">
                        manage_accounts
                    </span>Account
                </a>
                <a href="#RecycleBin">
                    <span class="material-symbols-outlined md-20">
                        delete
                    </span>Recycle Bin
                </a>
                <form asp-controller="Account" asp-action="LogOff" method="post">
                    <button type="submit" class="btn">
                        <span class="material-symbols-outlined md-20">
                            logout
                        </span>Log out
                    </button>
                </form>
            </div>
        </div>
    </section>
</header>