@model NoteLabelsViewModel

@{
    Layout = "_ModalContentLayout";
    ViewData["SelectLabels"] = new SelectList(Model.Labels, "LabelId", "Title");
    ViewData["SelectProjects"] = new SelectList(Model.Projects, "ProjectId", "Title");
    string projectSelect = JsonSerializer.Serialize(ViewBag.SelectProjects); // "[{..},{..},{..}]"
    string labelsSelect = JsonSerializer.Serialize(ViewBag.SelectLabels);

    var projectId = TempData["CurrentProjectId"] as int?;
    TempData.Keep("CurrentProjectId");
}

@section ModalHeaderContent {
    <div class="modal-header-left">
        <div class="modal-title">Create</div>
        <div class="select-container">
            <span class="material-symbols-outlined md-24 black select-togle-icon">
                arrow_drop_down
            </span>
            <div class="js-set-projects-virtual-select" data-target-select-list=@Html.Raw(projectSelect)
                 data-target-selected=@Html.Raw(projectId)></div>
        </div>
    </div>
}

<form method="post" asp-controller="Notes" asp-action="CreatePartial" asp-route-returnUrl="@ViewData["ReturnUrl"]"
      class="js-post-partial-form" data-target-modal-id="create-note-modal">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="Note.IsDeleted" />
    <input type="hidden" asp-for="Note.ProjectId" />
    <input type="hidden" asp-for="Note.ShortDescription" />

    <div class="note-content">
        <div>
            <textarea asp-for="Note.Title" placeholder="Note name" class="input-borderless js-textarea-auto" rows="1"></textarea>
            <span asp-validation-for="Note.Title"></span>
        </div>
        <div>
            <input hidden asp-for="Note.NoteDescription.Description"/>
            <span asp-validation-for="Note.NoteDescription.Description"></span>
            <div class="scroll-quill js-quill">
                <p>Hello World!</p>
                <p>Some initial <strong>bold</strong> text</p>
                <p><br></p>
            </div>
        </div>
        <div class="note-tools mt-1">
            <div class="date-time-picker js-date-time-picker">
                <div class="picker-preview date-picker js-date-picker">
                    <span class="material-symbols-outlined md-20 black picker-preview-icon">
                        date_range
                    </span>
                    <input asp-for="Note.DueDate" class="picker-input js-picker-input" placeholder="Date/time" />
                    <span class="material-symbols-outlined md-20 black picker-clear-icon js-clear-input">
                        close
                    </span>
                    <span asp-validation-for="Note.DueDate"></span>
                </div>
                <div class="picker-preview time-picker js-time-picker">
                    <span class="material-symbols-outlined md-20 black picker-preview-icon">
                        access_time
                    </span>
                    <input asp-for="Note.DueTime" class="picker-input js-picker-input" placeholder="Time" />
                    <span class="material-symbols-outlined md-20 black picker-clear-icon js-clear-input">
                        close
                    </span>
                    <span asp-validation-for="Note.DueTime"></span>
                </div>
            </div>
            <div class="labels-section select-container">
                <input type="hidden" asp-for="SelectedLabelsId" />
                <span class="material-symbols-outlined md-24 black select-togle-icon">
                    label
                </span>
                <div id="select-labels"></div>
                <div class="js-set-labels-virtual-select" data-target-select-list=@Html.Raw(labelsSelect)
                     data-target-selected=@Html.Raw(Model.SelectedLabelsId)></div>
            </div>
        </div>
    </div>
       
    <div class="btns-ok-cancel mt-3">
        <button class="btn btn-cancel js-close" type="button">Cancel</button>
        <button class="btn btn-ok" type="submit">Ok</button>
    </div>
</form>