@model Project

@{
    Layout = "_ModalContentLayout";
}

@section ModalHeaderContent {
    <div class="modal-header-left">
        <div class="modal-title">Delete</div>
    </div>
}

<div>Are you sure you want to delete <strong>"@Model.Title"</strong> project?</div>
<form asp-controller="Projects" asp-action="Delete" method="post" asp-route-id="@Model.ProjectId" asp-route-returnUrl="@ViewData["ReturnUrl"]">
    @Html.AntiForgeryToken()
    <div class="btns-ok-cancel mt-3">
        <button class="btn btn-cancel js-close" type="button">Cancel</button>
        <button class="btn btn-ok js-submit-btn" type="button">Ok</button>
    </div>
</form>