@model Label

@{
    Layout = "_ModalContentLayout";
}

@section ModalHeaderContent {
    <div class="modal-header-left">
        <div class="modal-title">Create</div>
    </div>
}

<form method="post" asp-controller="Labels" asp-action="CreatePartial" asp-route-returnUrl="@ViewData["ReturnUrl"]"
      class="js-post-partial-form" data-target-modal-id="create-label-modal" data-update-partial-id="labels-list" data-update-action="/Labels/MainListPartial">
    @Html.AntiForgeryToken()
    <div asp-validation-summary="ModelOnly"></div>
    <input type="hidden" asp-for="IsDeleted" />
    <input type="hidden" asp-for="UserId" />
    <div>
        <input asp-for="Title" placeholder="Label name" class="input-border w-100" />
        <span asp-validation-for="Title"></span>
    </div>
    <div class="btns-ok-cancel mt-3">
        <button class="btn btn-cancel js-close" type="button">Cancel</button>
        <button class="btn btn-ok" type="submit">Ok</button>
    </div>
</form>