@model BinViewModel
@inject UserManager<User> UserManager
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Bin";
}

@section Header 
{
    <partial name="_HeaderPartial" />
}
@section Sidebar
{
    <aside class="sidebar sidebar-hide" id="sidebar">
        <partial name="_SidebarPartial" model="Model.ActiveProjects" />
    </aside>
}

<main id="main">
    <partial name="Home/_BinPartial" model="Model" />
</main>