@model ProjectLabelViewModel

@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Labels";
}

@section Header
{
    <partial name="_HeaderPartial" />
}
@section Sidebar
{
    <partial name="_SidebarPartial" model="Model.Projects" />
}

<main id="main">
    <div class="main-header">
        <div class="main-header-center">
            <div class="main-header-title">@ViewData["Title"]</div>
            <div class="main-header-buttons">
                <form asp-controller="Labels" asp-action="CreatePartial" method="get">
                    <button class="btn btn-action js-modal-btn" data-target-modal-id="create-label-modal" type="button">
                        <span class="material-symbols-outlined md-30">
                            new_label
                        </span>
                    </button>
                </form>
                @* modal (ajax request content) *@
                <div id="create-label-modal" class="modal">

                </div>
            </div>
        </div>
    </div>
    <div class="main-container">
        <ul class="labels">
            @foreach (var label in Model.Labels)
            {
                <li class="label nav-link dropdown">
                    <a>
                        <div class="nowrap-ellipsis">@label.Title</div>
                        <span class="material-symbols-outlined md-24 black js-dropdown-btn" data-dropdown-content-id="label-dropdown-content" data-target-id="@label.LabelId">
                            more_horiz
                        </span>
                    </a>
                </li>
            }
            @* modal (ajax request content) *@
            <div id="edit-label-modal" class="modal">
            </div>
            @* modal (ajax request content) *@
            <div id="delete-label-modal" class="modal">
            </div>
            <div class="dropdown-content js-dropdown-content" id="label-dropdown-content">
                <form asp-controller="Labels" asp-action="EditPartial" method="get">
                    <button class="btn js-modal-btn" data-target-modal-id="edit-label-modal" type="button">Edit</button>
                </form>
                <form asp-controller="Labels" asp-action="DeletePartial" method="get">
                    <button class="btn js-modal-btn" data-target-modal-id="delete-label-modal" type="button">Delete</button>
                </form>
            </div>
        </ul>
    </div>
</main>
