@model GeneralViewModel
@inject UserManager<User> UserManager
@{
    Layout = "_MainLayout";
    ViewData["Title"] = "Main";
}

@section Header 
{
    <partial name="_HeaderPartial" model="Model.Manage.Name" />
}
@section Sidebar
{
    <aside class="sidebar sidebar-hide" id="sidebar">
        <partial name="_SidebarPartial" model="Model.Projects" />
    </aside>
}

<main id="main">
    <partial name="Home/_ManagePartial" model="Model" />
</main>