@{
    ViewData["Title"] = "Error";
}

<div class="container">
    <div class="auth-left">
        <p class="auth-title">Error</p>
        <div class="auth-description mt-5">
            <span class="material-symbols-outlined md-20">
                cancel
            </span>
            <p>Something went wrong.</p>
        </div>
        <a href="Login.html" class="btn-default mt-2">Return to login</a>
    </div>
    <div class="image-container">
        <img src="https://image.lexica.art/full_jpg/5532ad7c-5c5a-4cc0-9687-804546e78861" alt=""
             class="tdn-image">
    </div>
</div>