@{
    ViewData["Title"] = "Forgot password";
}

<div class="container">
    <div class="auth-left">
        <p class="auth-title">Forgot password</p>
        <div class="auth-description mt-5">
            If the account exists, we'll email you
            instructions to reset the
            password.
        </div>
        <form action="CheckEmail.html" method="get" class="auth-form mt-2">
            <div class="auth-field">
                <span class="material-symbols-outlined icon-absolute md-20">
                    mail
                </span>
                <input type="text" placeholder="Your email">
            </div>
            <button class="btn-default" type="submit"> Reset password</button>
        </form>
        <div class="auth-ref-list mt-2">
            <a asp-controller="Account" asp-action="Login">Return to login</a>
        </div>
    </div>
    <div class="image-container">
        <img src="https://image.lexica.art/full_jpg/5532ad7c-5c5a-4cc0-9687-804546e78861" alt=""
             class="tdn-image">
    </div>
</div>