@model ResetPasswordViewModel
@{
    ViewData["Title"] = "Reset password";
}

<div class="container">
    <div class="auth-left">
        <p class="auth-title">Reset password</p>
        <form asp-controller="Account" asp-action="ResetPassword" method="post" class="auth-form mt-5">
            <div asp-validation-summary="ModelOnly"></div>
            <input asp-for="Code" type="hidden">
            <input asp-for="Email" type="hidden">
            <div class="auth-field">
                <span class="material-symbols-outlined icon-absolute md-20">
                    lock
                </span>
                <input asp-for="Password" placeholder="New password" autocomplete="new-password">
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <div class="auth-field">
                <span class="material-symbols-outlined icon-absolute md-20">
                    lock
                </span>
                <input asp-for="ConfirmPassword" placeholder="Confirm password" autocomplete="new-password">
                <span asp-validation-for="ConfirmPassword"></span>
            </div>
            <button class="btn btn-default" type="submit">Reset password</button>
        </form>
    </div>
    <div class="image-container">
        <img src="https://image.lexica.art/full_jpg/5532ad7c-5c5a-4cc0-9687-804546e78861" alt=""
             class="tdn-image">
    </div>
</div>