@{
    ViewData["Title"] = "Reset password";
}

<div class="container">
    <div class="auth-left">
        <p class="auth-title">Reset password</p>
        <form action="ResetPasswordConfirmation.html" method="get" class="auth-form mt-5">
            <div class="auth-field">
                <span class="material-symbols-outlined icon-absolute md-20">
                    lock
                </span>
                <input type="password" placeholder="New password">
            </div>
            <div class="auth-field">
                <span class="material-symbols-outlined icon-absolute md-20">
                    lock
                </span>
                <input type="password" placeholder="Confirm password">
            </div>
            <button class="btn-default" type="submit">Reset password</button>
        </form>
    </div>
    <div class="image-container">
        <img src="https://image.lexica.art/full_jpg/5532ad7c-5c5a-4cc0-9687-804546e78861" alt=""
             class="tdn-image">
    </div>
</div>