@model ChangeEmailViewModel

@{
    Layout = "_ModalContentLayout";
    string updateUrl = ViewData["ReturnUrl"] + "?isGetPartial=true";
    string updateTargetId = "main";
}

@section ModalHeaderContent {
    <div class="modal-header-left">
        <div class="modal-title">Change email</div>
    </div>
}

<form method="post" asp-controller="Manage" asp-action="ChangeEmailPartial" class="js-post-modal-with-partial-update-ajax"
      data-target-modal-id="change-email-modal">
    <div asp-validation-summary="ModelOnly"></div>
     <input type="hidden" asp-for="OldEmail"/>
    <div>
        <input asp-for="NewEmail" value="@Model.OldEmail" placeholder="Email" class="input-border w-100" />
        <span asp-validation-for="NewEmail"></span>
    </div>
    <div class="btns-ok-cancel mt-3">
        <button class="btn btn-cancel js-close" type="button">Cancel</button>
        <button class="btn btn-ok" type="submit">Ok</button>
    </div>
</form>