* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 16px;
}

body {
    background-color: #F2CC8F;
    height: 100vh;
}
.main {
    display: flex;
    justify-content: center;
}

.logo {
    width: 125px;
    height: 30px;
    position: absolute;
    top: 20px;
    left: 30px;
}

.container {
    width: 80%;
    max-width: 800px;
    background-color: #F4F1DE;
    color: #000000;
    padding: 72px 64px;
    margin-top: 90px;
    display: flex;
    align-items: start;
    column-gap: 64px;
    border-radius: 10px;
}

@media (max-width: 700px) {
    .image-container {
        display: none;
    }

    .container {
        padding: 36px 32px;
    }
}

.image-container {
    flex: 1;
    align-self: center;
}

.tdn-image {
    /* Images will overflow their container by default. To
    prevent this, we set max-width and max-height to 100%
    so they stay inside their container. */
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px;
}

.image-google {
    width: 50px;
    user-select: none;
}

.btn-google {
    border: 0;
    background-color: hsla(0, 0%, 0%, 0);
}

.btn-google:hover {
    cursor: pointer;
    opacity: 0.9;
}

/*AUTH section*/
.auth-left {
    flex: 1;
}

.auth-title {
    font-size: 40px;
    font-weight: 700;
}

.auth-form {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.auth-field {
    display: flex;
    flex-direction: column;
    position: relative;
}

.auth-field .icon-absolute {
    top: -2px;
}

.auth-field input {
    border: 0;
    border-bottom: 1px #000000 solid;
    background-color: hsla(0, 0%, 0%, 0);
    font-size: 16px;
    outline: 0;
    flex: 1;
    padding-left: 32px;
    padding-bottom: 4px;
}

.field-validation-error {
    font-size: 14px;
    color: #E07A5F;
}

.auth-description {
    display: flex;
    column-gap: 10px;
}

.auth-external-provider {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.auth-ref-list {
    display: flex;
    justify-content: center;
    column-gap: 10px;
    font-size: 14px;
    margin-top: 60px;
}

.auth-ref-list a {
    color: #000000;
}