/*Google material*/
.material-symbols-outlined {
    user-select: none;
}
.material-symbols-outlined.md-18 {
    font-size: 18px;
}

.material-symbols-outlined.md-20 {
    font-size: 20px;
}

.material-symbols-outlined.md-24 {
    /* default */
    font-size: 24px;
}

.material-symbols-outlined.md-30 {
    font-size: 30px;
}

.material-symbols-outlined.md-32 {
    font-size: 32px;
}

.material-symbols-outlined.md-36 {
    font-size: 36px;
}

.material-symbols-outlined.md-48 {
    font-size: 48px;
}

/*Buttons*/

.btn{
    cursor: pointer;
}

.btn-default {
    display: inline-block;
    width: 100%;
    text-align: center;
    line-height: 3;
    border-radius: 10px;
    background-color: #3D405B;
    color: #FFFFFF;
    border: 0;
    text-decoration: none;
}

.btn-default:hover {
    cursor: pointer;
    opacity: 0.9;
}

/*margins*/
.mt-1 {
    margin-top: 10px;
}

.mt-2 {
    margin-top: 20px;
}

.mt-3 {
    margin-top: 30px;
}

.mt-4 {
    margin-top: 40px;
}

.mt-5 {
    margin-top: 50px;
}

/*colors*/

.white {
    color: #FFFFFF;
}

.black {
    color: #000000;
}

.light-yellow {
    color: #F4F1DE;
}

.coral {
    color: #E07A5F;
}

.dark-blue {
    color: #3D405B;
}

.light-green {
    color: #81B29A;
}

.light-orange {
    color: #F2CC8F;
}

.white,
.black,
.light-yellow,
.coral,
.dark-blue,
.light-green,
.light-orange {
    text-decoration: none;
}

/**/
.icon-absolute {
    position: absolute;
}

.d-flex {
    display: flex;
}

.d-inline {
    display: inline;
}

.d-inline-flex {
    display: inline-flex;
}