@{

}

<div class="modal-content">
    <div class="modal-header">
        @await RenderSectionAsync("ModalHeaderContent", required: false)
        <span class="material-symbols-outlined md-24 black btn js-close">
            close
        </span>   
    </div>
    <div class="modal-body mt-1">
        @RenderBody()
    </div>
</div>