@model IEnumerable<ToDoAndNotes3.Models.Project>

<aside class="sidebar" id="sidebar">
    <nav class="days">
        <ul class="days-list">
            <li class="nav-link">
                <a asp-controller="Home" asp-action="Main">
                    <span class="material-symbols-outlined md-24 black">
                        calendar_today
                    </span>
                    Today
                </a>
            </li>
            <li class="nav-link">
                <a asp-controller="Home" asp-action="Main">
                    <span class="material-symbols-outlined md-24 black">
                        calendar_month
                    </span>
                    Upcoming
                </a>
            </li>
            <li class="nav-link">
                <a asp-controller="Home" asp-action="Labels">
                    <span class="material-symbols-outlined md-24 black">
                        label
                    </span>
                    Labels
                </a>
            </li>
        </ul>
        @* modal (ajax request content) *@
        <div id="labels-modal" class="modal">
        </div>
    </nav>
    <nav class="projects">
        <div class="projects-preview">
            <p>Projects</p>
            <button class="btn btn-plus js-modal-btn" data-target-id="create-project-modal">
                <span class="material-symbols-outlined md-24">
                    add
                </span>
            </button>
            @* modal (ajax request content) *@
            <div id="create-project-modal" class="modal">
            </div>
        </div>
        <ul class="projects-list">
            @foreach (var project in Model)
            {
                <li class="project nav-link dropdown">
                    <a asp-controller="Home" asp-action="Main" asp-route-currentProjectId="@project.ProjectId">
                        <div class="nowrap-ellipsis">@project.Title</div>
                        <span class="material-symbols-outlined md-24 black js-dropdown-btn" data-target-id="project-dropdown-content-@project.ProjectId">
                            more_horiz
                        </span>
                    </a>
                    <div class="dropdown-content js-dropdown-content" id="project-dropdown-content-@project.ProjectId">
                        <a class="btn js-modal-btn" data-target-id="edit-project-modal-@project.ProjectId">
                            Edit
                        </a>
                        <form asp-controller="Projects" asp-action="Duplicate" asp-route-id="@project.ProjectId">
                            <button class="btn" type="submit">Duplicate</button>
                        </form>
                        <form asp-controller="Projects" asp-action="SoftDelete" asp-route-id="@project.ProjectId">
                            <button class="btn" type="submit">Remove</button>
                        </form>
                    </div>
                </li>
                @* modal (ajax request content) *@
                <div id="edit-project-modal-@project.ProjectId" class="modal">
                </div>
            }
        </ul>
    </nav>
</aside>