* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Segoe UI', sans-serif;
    font-size: 16px;
}

:root {
    --light-yellow-color: hsla(52, 50%, 91%, 1);
    --coral-color: hsla(13, 68%, 63%, 1);
    --dark-blue-color: hsla(234, 20%, 30%, 1);
    --dark-blue-tr-color: hsla(234, 20%, 45%, 1);
    --light-green-color: hsla(151, 24%, 60%, 1);
    --light-orange-color: hsla(37, 79%, 75%, 1);
    --transparent-color: hsla(0, 0%, 100%, 0);

    --top-bar-height: 40px;
    --main-bar-height: 50px;
    --days-height: 110px;
    --projects-preview-height: 28px;
    --sidebar-width: 300px;
}

::-webkit-scrollbar {
    display: none;
}

html, body {
    height: 100%;
    background-color: var(--light-orange-color);
}

header {
    /*position: fixed;*/
    top: 0;
    height: var(--top-bar-height);
    background-color: var(--dark-blue-color);
    width: 100%;
    padding: 0px 16px;
    display: flex;
}

.container {
    display: flex;
    min-width: 0;
    height: calc(100% - var(--top-bar-height));
}

.sidebar {
    background-color: var(--coral-color);
    width: var(--sidebar-width);
    transition: margin-left 0.25s;
    padding: 16px 16px;
    height: 100%;
}
.sidebar-hide {
    margin-left: calc(var(--sidebar-width) * -1);
}

main {
    flex: 1;
    min-width: 0;
    background-color: var(--light-orange-color);
    transition: visibility 0.1s, opacity 0.1s linear;
    padding: 0 10px 10px;
    height: 100%;
}

.search-form {
    position: relative;
}
.search-form input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    outline: none;
    opacity: 0.9;
    border: 1px solid var(--transparent-color);
    padding: 10px;
    padding-left: 40px;
    background-color: var(--light-yellow-color);
    max-width: 220px;
    min-width: 180px;
}
.search-form .search-icon {
    color: var(--dark-blue-color);
    z-index: 1;
    position: absolute;
    left: 10px;
    left: 5px;
}
.search:hover, search:focus{
    opacity: 1;
}

.header-left {
    display: inline-flex;
    align-items: center;
    flex: 1;
}
.header-right {
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: end;
}

/* Buttons */
.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 6px;

    border: 0;
    background-color: var(--transparent-color);
}
.btn-icon:hover {
    opacity: 0.9;
    background-color: var(--dark-blue-tr-color);
}
.btn-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 28px;
    border: 0;
    border-radius: 10px;
    background-color: var(--transparent-color);
}
.btn-plus:hover {
    background-color: var(--light-orange-color);
}
.btn-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 32px;
    border: 0;
    border-radius: 10px;
    background-color: var(--light-green-color);
}
.btn-action:hover {
    background-color: var(--coral-color);
}

/* Tabs */
.nav-link {
    background-color: var(--light-yellow-color);
    border-radius: 5px;
    list-style-type: none;
    cursor: pointer;
}
.nav-link:hover {
    background-color: var(--light-orange-color);
    z-index: 1;
}
.nav-link a {
    display: flex;
    align-items: center;
    height: 100%;
    column-gap: 5px;
    padding: 5px 12px;
    z-index: 1;
}
.nowrap-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.days {
    height: var(--days-height);
}
.days-list {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.projects {
    height: calc(100% - var(--days-height));
    padding-top: 20px;
}
.projects-preview {
    display: flex;
    justify-content: space-between;
    height: var(--projects-preview-height);
    align-items: center;
    padding-right: 8px;
    user-select: none;
}
.projects-preview p {
    font-size: 20px;
}
.projects-list {
    height: calc(100% - var(--projects-preview-height));
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    height: var(--main-bar-height);
}
.main-header-left, .main-header-right {
    display: flex;
    flex: 1;
    column-gap: 10px;
    justify-content: space-between;
}
.main-header-title {
    font-size: 24px;
    padding-left: 40px;
}
.main-header-buttons {
    display: flex;
    column-gap: 10px;
    justify-content: end;
}
.main-container {
    flex: 1;
    display: flex;
    min-width: 0;
    column-gap: 20px;
    height: calc(100% - var(--main-bar-height));
}
.tasks, .notes, .tasks-with-notes {
    flex: 1;
    border-radius: 10px;
    background-color: var(--light-green-color);
    padding: 8px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
.tasks-with-notes {
    display: none;
}
@media (max-width: 700px) {
    .tasks, .notes {
        display: none;
    }

    .main-header-right {
        display: none;
    }

    .tasks-with-notes {
        display: flex;
    }
}

/* Dropdown */
.dropdown {
    position: relative;
    float: right;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: var(--light-orange-color);
    min-width: 120px;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    right: 0;
    z-index: 2;
    border-radius: 5px;
}
.dropdown-content a, .dropdown-content form {
    color: black;
    text-decoration: none;
    display: block;
    margin: 5px;
}
.dropdown-content a, .dropdown-content button {
    padding: 5px;
    padding-left: 7px;
}
.dropdown-content button {
    background-color: inherit;
    border: 0;
    width: 100%;
    text-align: start;
}
.dropdown-content a:hover, .dropdown-content button:hover {
    border: 1px solid;
    border-radius: 5px;
}
.show {
    display: flex;
    flex-direction: column;
    row-gap: -0px;
}

/* Single object*/
.project {
    border-radius: 10px;
}
.project.nav-link a .nowrap-ellipsis {
    flex: 1;
}
.task, .note {
    flex: 1;
    background-color: var(--light-yellow-color);
    border-radius: 10px;
}
.task {
    max-height: 52px;
}
.task.nav-link a {
    padding-top: 2px;
}
.task .is-done-btn {
    align-self: baseline;
    margin-top: 2px;
}
.task-content, .note-content {
    flex: 1;
    min-width: 0;
}
.tools-row{
    display: flex;
    margin-top: 2px;
    column-gap: 3px;
}
.note {
    max-height: 64px;
}
.note-description {
    font-size: 12px;
}

/* Modal */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%;
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
    background-color: var(--light-yellow-color);
    border-radius: 10px;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}
.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}