* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

:root {
   --top-bar-height: 2.7em;
   --sidebar-width: 15em;
   --transparent: hsla(0, 0%, 100%, 0);
}

/*!!!*/
html,
body {
   background-color: hsla(0, 8%, 17%, 1);
   font-size: 16px;
   height: 100%;
   font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.inline {
   display: inline-block;
}

header {
   position: fixed;
   height: var(--top-bar-height);
   width: 100%;
   background-color: hsla(206, 100%, 41%, 1);
   padding: 0.5em 1em;
}

button {
   background-color: var(--transparent);
   border: 0;
}

.icon-button {
   color: hsla(0, 0%, 100%, 1);
   height: 2em;
   width: 2em;
   border: 0;
   background-color: var(--transparent);
   cursor: pointer;
}

.icon-button:hover {
   background-color: hsla(0, 0%, 0%, 0.3);
}

i.search-icon {
   position: absolute;
   margin: 0.7em 0.5em;
   color: hsla(0, 0%, 0%, 1);
   z-index: 1;
}

input.search {
   height: 2em;
   padding-left: 2.5em;
   border: 1px solid var(--transparent);
   border-radius: 1em;
   opacity: 0.9;
   background-color: hsla(0, 0%, 100%, 1);
   outline: none;
}

.new-folder {
   margin-top: 1em;
}
.new-folder input {
   height: 2.2em;
   padding-left: 2.5em;
   border: 1px solid var(--transparent);
   border-radius: 0.3em;
   opacity: 0.9;
   background-color: hsla(0, 0%, 100%, 1);
   outline: none;
   width: 100%;
}
input:hover,
input:focus {
   opacity: 1;
}

.right-section {
   float: right;
}

.profile-thumbnail {
   height: 2.2em;
   width: 2.2em;
   border-radius: 1.1em;
   cursor: pointer;
}

.container {
   display: flex;
   height: 100%;
}

.sidebar {
   flex: 0 0 auto;
   margin-top: var(--top-bar-height);
   width: var(--sidebar-width);
   background-color: hsla(206, 100%, 41%, 1);
   padding: 0 1em;
   overflow-y: auto;
   transition: margin-left 0.25s;
}

.sidebar.active {
   margin-left: calc(var(--sidebar-width) * -1);
}

.sidebar ul {
   list-style-type: none;
}
.sidebar ul {
   list-style-type: none;
}
.sidebar ul li {
   padding: 0.3em 0.5em;
   display: flex;
}
.sidebar ul li:hover {
   background-color: hsla(0, 0%, 0%, 0.3);
   border-radius: 0.3em;

}
.sidebar ul li i {
   padding-top: 0.5em;
}
.sidebar ul li div {
   padding: 0 0.5em;
}
.nav-general  {
   margin-top: 1em;
}
.nav-folders {
}

main {
   flex: 1;
   margin-top: var(--top-bar-height);
   background-color: hsla(208, 59%, 24%);
   overflow-y: auto;
}

.test-block {
   height: 9em;
   color: hsla(208, 100%, 97%, 1);
}