* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', 'Segoe UI', sans-serif;
    font-size: 16px;
}

html, body {
    height: 100%;
    background-color: var(--light-orange-color);
}
header {
    /*position: fixed;*/
    top: 0;
    height: var(--top-bar-height);
    background-color: var(--dark-blue-color);
    width: 100%;
    padding: 0px 16px;
    display: flex;
}

.container {
    display: flex;
    min-width: 0;
    height: calc(100% - var(--top-bar-height));
}

.sidebar {
    background-color: var(--coral-color);
    width: var(--sidebar-width);
    transition: margin-left 0.25s;
    padding: 16px 16px;
    height: 100%;
}
.sidebar-hide {
    margin-left: calc(var(--sidebar-width) * -1);
}

main {
    flex: 1;
    min-width: 0;
    background-color: var(--light-orange-color);
    transition: visibility 0.1s, opacity 0.1s linear;
    padding: 0 10px 10px;
    height: 100%;
}

.search-form {
    position: relative;
}
.search-form input {
    width: 100%;
    height: 30px;
    border-radius: 10px;
    outline: none;
    opacity: 0.9;
    border: 1px solid var(--transparent-color);
    padding: 10px;
    padding-left: 40px;
    background-color: var(--light-yellow-color);
    max-width: 220px;
    min-width: 180px;
}
.search-form .search-icon {
    color: var(--dark-blue-color);
    z-index: 1;
    position: absolute;
    left: 5px;
}
.search:hover, search:focus{
    opacity: 1;
}

.header-left {
    display: inline-flex;
    align-items: center;
    flex: 1;
}
.header-right {
    flex: 1;
    display: inline-flex;
    align-items: center;
    justify-content: end;
}

/* Buttons */
.btn-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4px 6px;

    border: 0;
    background-color: var(--transparent-color);
}
.btn-icon:hover {
    opacity: 0.9;
    background-color: var(--dark-blue-tr-color);
}
.btn-plus {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 32px;
    height: 28px;
    border: 0;
    border-radius: 10px;
    background-color: var(--transparent-color);
}
.btn-plus:hover {
    background-color: var(--light-orange-color);
}
.btn-action {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 62px;
    height: 32px;
    border: 0;
    border-radius: 10px;
    background-color: var(--light-green-color);
}
.btn-action:hover {
    background-color: var(--coral-color);
}
.btn-clean {
    background-color: var(--transparent-color);
    border: 0;
}

/* Tabs */
.nav-link {
    background-color: var(--light-yellow-color);
    border-radius: 5px;
    list-style-type: none;
    cursor: pointer;
}
.nav-link:hover {
    background-color: var(--light-orange-color);
}
.nav-link .link  {
    display: flex;
    align-items: center;
    height: 100%;
    column-gap: 5px;
    padding: 5px 12px;
    text-decoration: none;
    color: black;
    width: 100%;
}
.nowrap-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.days {
    height: var(--days-height);
}
.days-list {
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.projects {
    height: calc(100% - var(--days-height));
    padding-top: 20px;
}
.projects-preview {
    display: flex;
    justify-content: space-between;
    height: var(--projects-preview-height);
    align-items: center;
    padding-right: 8px;
    user-select: none;
}
.projects-preview p {
    font-size: 20px;
}
.projects-list {
    height: calc(100% - var(--projects-preview-height));
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}

.main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    column-gap: 20px;
    height: var(--main-bar-height);
}
.main-header-left, .main-header-right {
    display: flex;
    flex: 1;
    column-gap: 10px;
    justify-content: space-between;
    min-width: 0;
}
.main-header-center {
    display: flex;
    flex: 1;
    column-gap: 10px;
    justify-content: center;
}
.main-header-title {
    font-size: 24px;
    padding-left: 40px;
    min-width: 150px;
}
.main-header-buttons {
    display: flex;
    column-gap: 10px;
    justify-content: end;
}
.main-container {
    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width: 0;
    column-gap: 20px;
    height: calc(100% - var(--main-bar-height));
}
.tasks, .notes, .tasks-with-notes, .labels, .all-objects {
    border-radius: 10px;
    background-color: var(--light-green-color);
    padding: 8px;
    overflow-y: auto;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
}
.tasks, .notes, .tasks-with-notes {
    flex: 1;
}
.labels, .all-objects {
    width: 80%;
}
.tasks-with-notes {
    display: none;
}

/* Single object*/
.project {
    border-radius: 10px;
}
.project.nav-link .link .nowrap-ellipsis {
    flex: 1;
    text-align: start;
}
.task, .note {
    background-color: var(--light-yellow-color);
    border-radius: 10px;
}
.task {
    height: fit-content;
}
.task.nav-link a, note.nav-link a {
    padding-top: 2px;
    display: grid;
}
.task.nav-link a{
    grid-template-columns: 23px 1fr 25px;
}
.note.nav-link a {
    padding-top: 2px;
    display: grid;
    grid-template-columns: 1fr 25px;
}
.task .task-toggler {
    align-self: baseline;
    margin-top: 2px;
}
.task .task-toggler button {
    display: flex;
    align-items: center;
    border-radius: 5px;
}
.task .task-toggler button span:hover {
    color: var(--light-green-color);
}
.task .task-content, .note .note-content {
    display: grid;
    grid-template-columns: 1fr 60px;
    align-items: center;
    justify-content: space-between;
    min-width: 0;
}
.task ellipsis, .note ellipsis {

}
.label {
    border-radius: 10px;
    max-height: 34px;
    flex: 1;
}
.label.nav-link .nowrap-ellipsis {
    flex: 1;
}

@media (max-width: 700px){
    .task .task-content, .note .note-content {
        grid-template-columns: 1fr;
    }
    .labels {
        width: 100%;
    }
    .all-objects{
        width: 100%;
    }
}
.tools {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;
    column-gap: 3px;
    font-size: 14px;
}
.tools *{
    font-size: inherit;
}
.tools .date-tools {
    color: var(--dark-blue-tr-color);
    display: flex;
    min-width: 0;
}
.tools .label-tools {
    color: var(--coral-color);
    display: flex;
    max-width: 150px;
}
.tools .label-tools .label-tool-title {
    min-width: 0;
    display: flex;
}
.project-title {
    min-width: 50px;
    font-size: 14px;
}
.note {
    height: fit-content;
}
.note-description {
    font-size: 12px;
}