* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    background-color: #F2CC8F;
    font-size: 16px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.main {
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    width: 80%;
    max-width: 800px;
    background-color: #F4F1DE;
    color: #000000;
    padding: 72px 64px;
    margin-top: 90px;
    display: flex;
    align-items: start;
    column-gap: 64px;
    border-radius: 10px;
}

@media (max-width: 700px) {
    .image-container {
        display: none;
    }

    .container {
        padding: 36px 32px;
    }
}