@{
    Layout = null;
    ViewData["Title"] = "Main";
}


<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewData["Title"] - TDN</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="~/styles/shared/general.css">
    <link rel="stylesheet" href="~/styles/pages/main.css">
    <link rel="stylesheet"
          href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0" />
</head>

<body>
    <header>
        <section class="header-left">
            <button id="burger-menu-toggle" class="btn-icon d-inline">
                <span class="material-symbols-outlined md-32 white">
                    menu
                </span>
            </button>
            <button asp-controller="Home" asp-action="Main" class="btn-icon d-inline">
                <span class="material-symbols-outlined md-32 white">
                    home
                </span>
            </button>
            <form class="search-form">
                <span class="material-symbols-outlined md-32 white search-icon">
                    search
                </span>
                <input type="search" />
            </form>
        </section>
        <section class="header-right">
            <button class="btn-icon">
                <span class="material-symbols-outlined md-32 white">
                    account_circle
                </span>
            </button>
        </section>
    </header>
    <div class="container">
        <aside class="sidebar" id="sidebar">
            <nav class="days">
                <ul>
                    <li class="nav-link">
                        <a>
                            <span class="material-symbols-outlined md-24 black">
                                calendar_today
                            </span>
                            Today
                        </a>
                    </li>
                    <li class="nav-link">
                        <a>
                            <span class="material-symbols-outlined md-24 black">
                                calendar_month
                            </span>
                            Upcoming
                        </a>
                    </li>
                    <li class="nav-link">
                        <a>
                            <span class="material-symbols-outlined md-24 black">
                                label
                            </span>
                            Labels
                        </a>
                    </li>
                </ul>
            </nav>
            <nav class="folders">
                <p>Folders</p>
                <ul>
                    <li class="nav-link">
                        <a>
                            English
                            <span class="material-symbols-outlined md-24 black">
                                more_horiz
                            </span>
                        </a>
                    </li>
                </ul>
            </nav>
        </aside>
        <main>
            <div>Hello main</div>
            <form asp-controller="Account" asp-action="LogOff" method="post">
                <button type="submit">Log out</button>
            </form>
        </main>
    </div>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="~/scripts/main.js" type="text/javascript"></script>
</body>

</html>