@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<div>
    <p>Hello Main</p>
    <form asp-controller="Account" asp-action="LogOff" method="post">
        <button type="submit">Log out</button>
    </form>
</div>
    
